main{
    margin-top: 60px;
}
.contact-section {
    padding: 50px 0;
    text-align: center;
  }

  .contact-section h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #333;
  }

  .contact-form {
    max-width: 500px;
    margin: 0 auto;
  }

  .contact-form .form-group {
    margin-bottom: 20px;
  }

  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .contact-form textarea {
    height: 150px;
    resize: vertical;
  }

  .contact-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .success-message,
  .error-message {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .success-message {
    color: #0f0;
  }

  .error-message {
    color: #f00;
  }