div.full-block {
    display: flex;
    justify-content: center;

  }
div.full-block .paymentButtons{
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
  
  div[role="button"] {
    display: block;
    max-width: 200px;
    margin: 0 auto;
  }
  