.product-item{
  cursor: pointer;
}
.product-item:hover .add-item-somewhere {
    display: grid;
  }
  .product-item_img {
    position: relative;
  }
  .product-item_img .out-of-stock {
    position: absolute;
    top: 0;
    right: 0;
    color: #888888;
    padding: 7px 20px;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 12px;
    background-color: #fff;
  }
  .product-item_img .sale {
    position: absolute;
    top: 0;
    right: 0;
    color: #b49580;
    padding: 7px 20px;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 12px;
    background-color: #fff;
  }
  .product-item_img .add-item-somewhere {
    display: none;
    position: absolute;
    padding: 5px;
    bottom: 10px;
    width: 80%;
    left: 10%;
    background-color: #fff;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    line-height: 40px;
  }
  .product-item_img .add-item-somewhere .add-to-cart {
    background: #f3f3f3;
    border: none;
    cursor: pointer;
    border-right: 1px solid #f3f3f3;
    font-size: 14px;
    padding-top: 10px;
  }
  .quantity-controls{
    display: flex;
   }
  .quantity-controls span{
    margin: 0 10px;
  }
  .quantity-controls button{
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
  }
  .product-item-little-desc {
    margin-top: 15px;
    text-align: center;
  }
  .product-item-little-desc div {
    margin-bottom: 10px;
  }
  .product-item-little-desc_categories-name {
    color: #888888;
    line-height: 1.5714285714em;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .product-item-little-desc_product-name {
    color: #252324;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .product-item-little-desc_product-price {
    color: #888888;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
  }
  .product-item-little-desc_old-product-price {
    color: #888888;
    line-height: 1.1428571429em;
    font-size: 14px;
    font-weight: 500;
  }